body{
    background-color: lightcyan;
    color: lightslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    border-width: 5px;
    width: 280px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: lightsteelblue 10px 60px 80px 20px;
    margin: 10px auto;
}
.highlight{
    background-color: rgb(250, 250, 233);
}
span{
    font-weight: bold;
    color: lightpink;
}